@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1"><b>McDonalds</b></h1>
    <p>Welcome, this website is all about McDonalds</p>
</div>

<!-- Carousel -->
<div id="deals" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#deals" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#deals" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#deals" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Images/deal_1.png" alt="Speical Deal 1" class="container-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/deal_2.png" alt="Special Deal 2" class="container-fluid">
        </div>
        <div class="carousel-item">
            <img src="/Images/deal_3.webp" alt="Special Deal 3" class="container-fluid">
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#deals" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#deals" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div class="text-center">
    <h1 class="display-4"><b>Facts</b></h1>
    <p class="lead">
        <ul>Did you know that a new McDonalds is opened every 14.5 hours.</ul>
        <ul>Did you know that McDonalds makes over $75 million a day.</ul>
        <ul>Did you know that Bill Gates</ul>
        <ul>Did you know that the first item on the menu wasn't a burger but was instead a hotdog.</ul>
    </p>
</div>

<div class="row-cols-1">
    <h1 class="display-1 text-center row"><b>Maccas in the Community</b></h1>
    <div class="row text-center">
        <div class="col h2">McDonalds helping fund community projects</div>
        <div class="col"><img src="/Images/community_1.jpg" alt="Soccor McDonalds" style="height:75%; width:100%"/></div>
    </div>
</div>
<div>
    <div class="row text-center">
        <div class="col"><img src="/Images/community_2.jpg" alt="Eco Friendly" style="height:75%; width:100%"/></div>
        <div class="col h2">Helping keep Sustainability and Enviroment Friendly</div>
    </div>
</div>
<div>
    <div class="row text-center">
        <div class="col h2">Ready easy meals</div>
        <div class="col"><img src="/Images/community_3.jpg" alt="Meals" style="height:90%; width:100%" /></div>
    </div>
</div>