@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We collect personal information from you, including information about your:
	<ol>- Name</ol>
	<ol>- Contact information</ol>
	<ol>- Interactions with us</ol>
    We collect your personal information in order to:
	<ol>- Get your feedback</ol>
    <ol>- Other reasons</ol>
    Besides our staff, we share this information with:
	<ol>- A 3rd party in order to add your feedback to our database.</ol>
    We keep your information safe by storing it in a secure database and only allowing selected people access .

    <br><br>You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong.
    
    <br><br>If you’d like to ask for a copy of your information, or to have it corrected, please contact us at
	
    <br>placeholderemail@email.com
</p>
